body{
    font-family: sans-serif;
}


header{
    background-color: black;
}

.logo_{
    background-color: transparent;
    border-color: transparent;
}


.list_none{
    list-style: none;
}

.my_btn{
    border-color: transparent;
    border-radius: 20px;
    color: white;
}


.my_black{
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
}

.my_blue{
    background-color: rgb(38, 75, 226);
}

.my_red{
    background-color: orangered;
}

.my_trasparent{
    background-color: whitesmoke;
    color: blue;
}

.my_search{
    font-size: 20px;
}

#jumbotron{
    background-color: black;
}

.my_jumbotron_slide{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    margin-top: 90px;
    
    
}


.my_jumbotron_slide_2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}

#it-takes-two{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#it-takes-two p, h2{
    width: 35%;
}

.jumbo_text_2{
    position: absolute;
    top: 0;
}


#nuove-uscite{
    background-color: rgb(34, 34, 34);
    padding-top: 50px;
}

.font_size{
    font-size: small;
}

#ps-plus{
    background-color: gainsboro;
}

#PS-now{
    background-color: rgb(23, 34, 76);
}

footer{
    margin-top: 50px;
    background-color: rgb(2, 65, 168);
}

footer a{
    text-decoration: none;
}


@media all and (max-width: 600px) {
  #ps_5{
    flex-wrap: wrap;
  }

  #ps-4{
    flex-wrap: wrap;
    
  }

  #ps-4 div{
    margin-bottom: 50px;
  }

  .img_plus{
    display: none;

  }

  .text_center{
    width: 100%;
  }

  .avengers{
    display: none;
  }
  
  

  }
